$font-stack: Helvetica,
sans-serif;
$primary-color: grey;
$primary-shade: white;
$primary-light: #FAFAFA;
$primary-dark: #E0E0E0;
$primary-accent: #82B1FF;
body {
  background-color: $primary-shade;
}

.read-more {
  margin-left: 130px;
}

.card-action {
  padding: 16px 5px !important;
}

.page-wrapper:after {
  content: "";
  display: block;
  margin-bottom: 520px;
}

.dropdown-content li a {
  color: green; // font-size: 40px;
}

.parallax-container {
  #parallax {
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#myprofile {
  color: white;
}

.customWidth {
  width: 500;
}

.Typist {
  .ptag {
    text-align: center;
    color: #FFF;
    font-weight: 100;
    font-size: 1.2em;
    margin: 0 auto;
  }
}

#document-container1 {
  margin-left: 20px;
}

#document-container2 {
  margin-left: 20px;
}

#document-container3 {
  margin-left: 20px;
}

.footer {
  display: flex;
}

.navbar {
  a {
    color: white;
  }
  .brand-logo {
    margin-left: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.ptag {
  margin: 0;
}

#row-padding {
  padding-bottom: 0px;
  padding-top: 3px;
}

h2 {
  font-weight: 100
}

a {
  color: blue;
}

input#doc-search {
  width: 20% !important;
  margin-left: 40%;
}